{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Вход/регистрация</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить данные</button>
    </form>
{% endblock %}