{% extends 'base.html' %}
{% block title %}Кроссовки {{ product.name }} купить выгодно{% endblock %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'product.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 image">
                {% for product_image in product.productimage_set.all %}
                    <img src="{{ product_image.image.url }}" alt="{{ product.name }}_{{ product_image.id }}"
                         class="img-responsive">
                {% endfor %}
            </div>
            <div class="col-md-7">
                <h3 class="text-center">
                    Кроссовки {{ product.name }}
                </h3>
                <div>
                    <h4 class="product-price" style="font-weight: 700">
                        {% if product.discount == 0 %}
                            Цена: <span style="color: #e83e8c">{{ product.price_per_item }} руб.</span>
                        {% else %}
                            Цена:
                            <span style="text-decoration: line-through; color: #adb5bd">{{ product.price_per_item }} руб.</span>
                            <span style="color: #e83e8c">{{ product.price_with_discount }} руб.</span>
                        {% endif %}
                    </h4>
                    {% if product.amount_in_warehouse > 0 %}
                        {% if user.is_authenticated %}
                            <div>
                                <form id="buying-product" class="form-inline"
                                      action="{% url 'basket_adding' %}">{% csrf_token %}
                                    <input type="number" placeholder="Количество" class="form-control" id="count">
                                    <button class="btn btn-success btn-buy" type="submit"
                                            data-product_id="{{ product.id }}"
                                            data-product_name="{{ product.name }}"
                                            {% if product.discount == 0 %}
                                            data-product_price="{{ product.price_per_item }}"
                                            {% else %}
                                            data-product_price="{{ product.price_with_discount }}"
                                            {% endif %}
                                            id="submit_button">
                                        В корзину
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        <p class="small">
                            *Оплата при получении товара
                        </p>
                    {% else %}
                        <h4>
                            <div>Наличие уточнять у продавца</div>
                        </h4>
                    {% endif %}
                </div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#description" aria-controls="description"
                               role="tab" data-toggle="tab">Описание
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#delivery" aria-controls="delivery" role="tab"
                               data-toggle="tab">Доставка
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab"
                               data-toggle="tab">Комментарии
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            <p class="tab-p">
                                {{ product.description }}
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="delivery">
                            <p class="tab-p">
                                Самовывоз - бесплатно<br>
                                Доставка на дом в день заказа - 10р<br>
                                Доставка на дом в течении 2-3 рабочих дней - 3р<br>
                                *Возможность доставки на дом оговаривается по телефону 88005553535<br>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <p class="tab-p">
                                Оставляйте ваши комментарии тут :)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}