html, body{
    height: 100%;
    width: 100%;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    background-color: #efefef;
}

::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.navbar-right{
    display: flex;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px;
}

footer{
    position: relative;
    height: 180px;
    background-color: #0f6674;
}

.discount{
    position: absolute;
    top: 10%;
    left: 0;
    right: 80%;
    background-color: mediumseagreen;
    border-radius: 0 2rem 2rem 0;
}

.navbar-top{
    min-height: 30px;
    margin-bottom: 0;
}

.basket-container{
    position: relative;
}

.basket-items{
    position: absolute;
    z-index: 1;
    background-color: beige;
    width: 300%;
    height: auto;
}

.basket-div{
    display: flex;
}

.href-name{
    display: block;
}

.delete-item{
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
    width: 30px;
    height: 30px;
    position: relative;
    /*top: 50%;*/
    transform: translateY(25%);
    z-index: 2;
    left: 30%;
}
.add-item{
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
    width: 30px;
    height: 30px;
    position: relative;
    /*top: 50%;*/
    transform: translateY(25%);
    z-index: 2;
    left: 29%;
}

.count{
    position: absolute;
    right: 5%;
    top: 10%;
}
