.product-item{
    height: 360px;
    background-color: white;
    position: relative;
    text-align: center;
    border: 1px solid #efefef;
    margin-bottom: 10px;
    border-radius: 8px;
}

.section-top{
    margin-bottom: 20px;
}

.add-to-cart-btn{
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
}

.item-image{
    height: 200px;
}

.item-image img{
    margin-top: 10px;
    height: 160px;
    width: auto;
}

.section-top img{
    margin: auto;
    max-width: 100%;
    display: block;
}


.shoes-image{
    height: 210px;
}

/*MAN BLOCK*/
.men-choice{
    background-color: white;
    border-radius: 5%;

}
.men-choice h3{
    color: #5a6268;
    text-align: center;
}
.men-choice p{
    padding-top: 5%;
    text-align: center;
}
.men-choice a{
    margin-left: 50%;
    transform: translateX(-50%);
}
.men-choice img{
    max-height: 100%;
    border-radius: 100% 20px 20px 100%;
}

/*WOMAN BLOCK*/
.woman-choice{
    background-color: white;
    border-radius: 5%;
}
.woman-choice h3{
    color: #5a6268;
    text-align: center;
}
.woman-choice p{
    padding-top: 5%;
    text-align: center;
}
.woman-choice a{
    margin-left: 50%;
    transform: translateX(-50%);
}
.woman-choice img{
    max-height: 100%;
    width: auto;
    border-radius: 20px 100% 100% 20px;
}
.old-price{
    color: red;
    text-decoration: line-through;
}
.info-price-and-old-price p{
    margin-bottom: 0;
}