.section{
    position: relative;

}
.section-inside::before{
    content: '';
    position: absolute;
    width: 1px;
    background-color: rgba(96,105,117, 0.3);
    top: 0;
    bottom: 0;
    left: 50%;
}
.section-inside{
    padding: 2%;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.login-section{
    text-align: left;
}
.login-section h2{
    margin: 0;
}
.btn-primary{
    background-color: #606ddd;
}
.btn-outline-primary{
    background-color: white;
    color: #606ddd;
    border: solid 1px #606ddd;
    border-radius: 10rem;
}
.or{
    left: 50%;
    top: 50%;
    border: solid 1px rgba(96,105,117, 0.3);
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #f8f9fa;
}
.forms{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3%;
}