{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'login.css' %}">{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-inside">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="login-section">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="text-center">
                                        <h2>Войти</h2>
                                        <em>в ваш аккаунт</em>
                                    </div>
                                    <br>
                                    <form action="" method="post">
                                        <a href="login/" class="btn btn-primary btn-block">ВОЙТИ</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="or">
                        <span>Или</span>
                    </div>
                    <div class="col-md-6">
                        <div class="login-section">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="text-center">
                                        <h2>Регистрация</h2>
                                    </div>
                                    <br>
                                    <form action="" method="post">
                                        <a href="signup/" class="btn btn-outline-primary btn-block">РЕГИСТРАЦИЯ</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}