<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="float: left !important; margin-left: 10px" class="navbar-toggle"
                    data-toggle="collapse" data-target="#bs-navbar-1">
                <span class="sr-only">Navigate</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <strong>
                    <em>Footgear</em>
                </strong>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li><a href="/">Главная</a></li>
                    <li><a href="/">Мои заказы</a></li>
                {% else %}
                    <li class="active"><a href="/">Главная</a></li>
                {% endif %}
                <li><a href="">Новости</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Категории<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Three</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Four</a></li>
                    </ul>
                </li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-left">
                        <li class="basket-container">
                            <div class="count"></div>
                            <a href="">Корзина</a>
                            <div class="basket-items form-control hidden">

                                <button class="form-control">Заказать</button>
                            </div>
                        </li>
                    </ul>
                {% endif %}
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Поиск товара">
                    </div>
                    <button type="button" class="btn btn-default">Найти</button>
                </form>
                {% if user.is_authenticated %}
                    <form class="navbar-form">
                        <a href="/account/logout/" class="btn btn-info">Выход</a>
                    </form>
                {% else %}
                    <form class="navbar-form">
                        <a href="/account/" class="btn btn-info">Вход/регистрация</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

