{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %}" alt="lol">
    </div>
    <div class="section-choice">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="men-choice">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <h3>Мужская обувь</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam
                                    quisquam. Ipsum, provident.
                                </p>
                                <a class="btn btn-success" href="/">Показать</a>
                            </div>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <div>
                                    <img class="shoes-image" src="{% static 'img/shoes-man.jpg' %}" alt="man shoes">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="woman-choice">
                        <div class="row">
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <img class="shoes-image" src="{% static 'img/woman-shoes.jpg' %}" alt="woman shoes">
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <h3>Женская обувь</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minima, magnam quam
                                    quisquam. Ipsum, provident.
                                </p>
                                <a class="btn btn-success" href="/">Показать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-popular">
        <div class="container">
            <h3 style="text-align: center">Популярные товары</h3>
            <br>
            <div class="row">
                {% for item in product_popular %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section-new">
        <div class="container">
            <h3 style="text-align: center">Новые товары</h3>
            <br>
            <div class="row">
                {% for item in product_new %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}