<div class="col-md-3">
    <div class="product-item">
        <span>
            <a href="{% url 'product' item.product.id %}">
                <div class="item-image">
                        <img src="{{ item.image.url }}" alt="{{ item.product.name }}">
                </div>
            </a>
            <br>
            <span>
                {{ item.product.name }}
            </span>
            <div class="info">
                {% if item.product.amount_in_warehouse > 0 %}
                    <span>На складе: {{ item.product.amount_in_warehouse }}</span>
                {% else %}
                    <span>Наличие уточнять у продавца</span>
                {% endif %}
                {% if item.product.discount == 0 %}
                    <p><strong>Цена: </strong>{{ item.product.price_per_item }} руб.</p>
                {% else %}
                    <span class="discount"><strong>-{{ item.product.discount }}%</strong></span>
                    <div class="info-price-and-old-price">
                        <p class="old-price"><strong>Цена: {{ item.product.price_per_item }} руб.</strong></p>
                        <p>
                            <strong>
                                Цена со скидкой: {{ item.product.price_with_discount }} руб.
                            </strong>
                        </p>
                    </div>
                {% endif %}
            </div>
        </span>
    </div>
    {% if item.product.amount_in_warehouse > 0 %}
        <div class="add-to-cart-btn ">
            <a class="btn btn-success" href="/">
                Добавить в корзину
            </a>
        </div>
    {% endif %}
</div>